.login-background {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 32px;
    border-width: 5px;
    border-color: black;
    width: 33vw;
    height: 85vh;
    color: black;
    align-items: center;
    overflow: auto;
}

.logo {
    width:84%;
    height: 10%;
    align-self: center;
    padding-top: 10%;
}

.login-title {
    text-align: center;
    margin: 5%;
}

.login-title h2,
.login-title p {
    margin: 0;
}

.login-title p {
    color: gray;
}

.input-group {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 25%;
    gap: 25%;
    /* height: fit-content; */
}

.input-group input {
    width: 95%;
    height: 25%;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 1pt solid #ccc;
    align-self: center;
}

.remember-me-forgot-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding-bottom: 5%;
}

.remember-me-forgot-password .remember-me {
    display: flex;
    align-items: center;
}

.remember-me-forgot-password input[type="checkbox"] {
    width: 17px;
    height: 17px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
}

.remember-me-forgot-password .forgot-password {
    text-align: right;
}

form button {
    width: 69%;
    height: 37px;
    background-color: rgb(0, 106, 255);
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 150px;
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 65px;
}