.sidebar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 85%;
    background-color: #ffffff;
    border: 1px solid #e5e8eb;
    border-top: none;
    border-left: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
}

.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    border-bottom: 1px solid #e5e8eb;
}

.sidebar-header img {
    width: 100%;
    height: 75%;
    align-self: center;
}

.sidebar-nav-items {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 5%;
    padding-right: 3%;
    height: 40%;
    width: 92%;
}

.sidebar-nav-items a {
    text-decoration: none;
    color: grey;
}

.sidebar-nav-items i {
    color: grey;
    margin-right: 10px;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 10%;
    width: 85%;
}

.nav-item-one {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 9%;
    padding-left: 5%;
    padding-right: 4%;
    gap: 5px;
    cursor: pointer;
    height: 5%;
    width: 85%;
}

.nav-item-one:hover input {
    border: 1px solid blue;
    background-color: #e8e5e5;
}

.nav-item:hover {
    border: 1px solid blue;
    background-color: #e8e5e5;
}

.nav-item:hover a {
    color: black;
}

.nav-item:hover i {
    color: blue;
}

.active a {
    color: black;
}

.active i {
    color: blue;
}

.active {
    background-color: #F8FAFC;
    border: 1px solid blue;
}

.sidebar-nav-items input {
    background-color: #ffffff;
    border: none;
    color: black;
    width: 100%;
    height: 25px;
}

.nav-item-one input {
    background-color: #ffffff;
    border: none;
    color: black;
    width: 77%;
    height: 25px;
}

.nav-item-one i {
    color: grey;
    padding-right: 5px;
    padding-left: 5px;
}

.lower-sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 3%;
    width: 92%;
    height: 45%;
    border-bottom: 1px solid #e5e8eb;
}

.lower-sidebar a {
    text-decoration: none;
    color: grey;
}

.lower-sidebar i {
    color: grey;
    margin-left: 3px;
    margin-right: 13px;
}

.lower-nav-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 30px;
}

.lower-nav-item:hover {
    border: 1px solid blue;
    background-color: #e8e5e5;
}

.lower-nav-item:hover a {
    color: black;
}

.lower-nav-item:hover i {
    color: blue;
}

.empty {
    height: 78.7%;
}

.plus {
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e5e8eb;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 0px;
    margin: none;
}

.account-info-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 5%;
}

.avatar {
    width: 15%;
    height: 85%
}

.account-name {
    flex: 1;
    font-size: 95%;
    font-weight: bold;
}

.account-email {
    flex: 1;
    font-size: 75%;
    color: grey;
    overflow: auto;
}