.app-container {
    background-color: #F8FAFC;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    color: black;
    gap: 0px;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}